#logo{
    
    padding: 16px 6px 16px 10px;
    float: left;
    height: 100%;
    margin-top: 1px;
    width: 137px;
    outline-offset: -2px;
}
#mrg{
    padding: 16px 6px 16px 10px;
    float: left;
    height: 100%;
    margin-top: 1px;
    width: 137px;
    outline-offset: -2px;
    font-family:Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:13px;
    white-space:normal;
}
#mrg-right{
    padding: 16px 6px 16px 10px;
    float:right;
    height: 100%;
    margin-top: 1px;
    width: 137px;
    outline-offset: -2px;
    font-family:Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:13px
    
}
.container-full {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding-left:5%;
    padding-right:5%;
    
}

.bg-image {
    height: 300px;
    background-image: url("/img/mainphoto.jpeg");
    margin:0;
    padding-left:95%;
    padding-right:95%;
}
.heading3{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    opacity: .95;
    padding-top: 1px;
    padding-bottom: 2px;
    margin-top: 37px;
    width: 1000px;
    margin: 0 auto;
    
}
.p{
    padding-top:2px;
    padding-right:12px;
}
#click-for{
    color:rgba(68, 96, 156, 0.591);
}

.container-photo {
    display: block;
    max-width:100%;
    max-height:100%;
}
.mini-logos{
    margin:auto;
    font-size:15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#000;
    font-weight: 600;
    max-height: 60px;
    width: 125px;
    margin: 0 auto;
    padding-left:40%;
    padding-right:60%;
    text-align: center;
    white-space:normal;
    display:inline;
}
.mini-logos2{
    font-size:15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#000;
    font-weight: 600;
    max-height: 60px;
    width: 125px;
    margin: 0 auto;
    padding-left:50%;
    padding-right:70%;
    text-align: center;
    white-space:normal;

}

/*#logo{
    padding:16px 6px 16px 10px;
    float:left;
    height:100%;
    margin-top:1px;
    width:137px;
    outline-offset:-2px;
}
.mrg{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.dropdown{
    position: static;
    display: inline-block;

}
.dropbtn{
    position:relative;
    left:1250px;
    top:-59px;  
    background-color:none;
    color: grey;
    padding: 1px;
    font-size: 15px;
    border:none;
}

.mrg-right{
    float:right;
    margin-block-start:1em;
    margin-block-end: 1em;
    margin-inline-start:0px;
    margin-inline-end: 300px;
    padding-inline-start: 40px;
}

.dropdown-content{
    display: none;
    position:absolute;
    background-color:#f1f1f175;
    min-width: 350px;
 
    z-index: 1;
    

    
}
.dropdown-content a:hover{
    background-color: rgba(133, 131, 131, 0.847);
}
.dropdown:hover .dropdown-content{
    display:block;
}

.container-full {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    width: 1000px;
    margin: 0 auto;
}*/